<app-navbar (searchValueChanged)="updateQueryViaSearch($event)"></app-navbar>
<div class="container">
    <h1>Movie List</h1>
    <div class="row col-lg-12 p-2">
        <div *ngFor="let movie of movieList" class="col-lg-3 col-md-4 col-sm-12 p-2">
            <div class="card">
                <img [src]="movie.thumb" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text small">{{movie.description}}</p>
                    <a class="btn btn-primary" (click)="checkDetailsOfMovie(movie)">See Details</a>
                </div>
            </div>
        </div>

        <div *ngIf="movieList.length === 0" class="card align-items-center p-1">
            <h4 class="m-0 text-danger">No Movies Found...</h4>
        </div>

    </div>
</div>